{
	"root": true,
	"parser": "babel-eslint",
	"env": {
		"node": true,
		"es6": true
	},
	"parserOptions": {
		"ecmaVersion": 2017
	},
	"settings": {
		"import/resolver": "node"
	},
	"plugins": ["import", "babel"],
	"rules": {
		/* http://eslint.org/docs/rules/#possible-errors */
		"no-cond-assign": 1,
		"no-console": [1, {"allow": ["warn", "error"]}],
		"no-constant-condition": 1,
		"no-control-regex": 1,
		"no-debugger": 1,
		"no-dupe-args": 1,
		"no-dupe-keys": 1,
		"no-duplicate-case": 1,
		"no-empty-character-class": 1,
		"no-empty": 1,
		"no-ex-assign": 1,
		"no-extra-boolean-cast": 1,
		"no-extra-parens": 0,
		"no-extra-semi": 1,
		"no-func-assign": 2,
		"no-inner-declarations": 1,
		"no-invalid-regexp": 1,
		"no-irregular-whitespace": 1,
		"no-negated-in-lhs": 1,
		"no-obj-calls": 1,
		"no-regex-spaces": 1,
		"no-sparse-arrays": 1,
		"no-unexpected-multiline": 1,
		"no-unreachable": 1,
		"use-isnan": 1,
		"valid-typeof": 2,
		"prefer-const": [
			"error",
			{
				"destructuring": "any"
			}
		],
		"no-var": 1,
		"prefer-arrow-callback": 1,

		/* http://eslint.org/docs/rules/#best-practices */
		"accessor-pairs": 1,
		"block-scoped-var": 1,
		"complexity": [1, 30],
		"consistent-return": 1,
		"curly": 1,
		"default-case": 1,
		"dot-location": 0,
		"dot-notation": 1,
		"eqeqeq": 1,
		"guard-for-in": 1,
		"no-caller": 1,
		"no-case-declarations": 1,
		"no-div-regex": 1,
		"no-else-return": 1,
		"no-labels": 1,
		"no-empty-pattern": 1,
		"no-eq-null": 1,
		"no-eval": 1,
		"no-extend-native": 1,
		"no-extra-bind": 1,
		"no-fallthrough": 1,
		"no-floating-decimal": 1,
		"no-implicit-coercion": 1,
		"no-implied-eval": 1,
		"babel/no-invalid-this": 1,
		"no-iterator": 1,
		"no-lone-blocks": 1,
		"no-loop-func": 1,
		"no-magic-numbers": [1, {"ignore": [-1, 0, 1, 100]}],
		"no-multi-spaces": 1,
		"no-multi-str": 1,
		"no-native-reassign": 1,
		"no-new-func": 1,
		"no-new-wrappers": 1,
		"no-new": 1,
		"no-octal-escape": 1,
		"no-octal": 1,
		"no-param-reassign": 1,
		"no-process-env": 0,
		"no-proto": 1,
		"no-redeclare": 1,
		"no-return-assign": 1,
		"no-script-url": 1,
		"no-self-compare": 1,
		"no-sequences": 1,
		"no-unused-expressions": 1,
		"no-useless-call": 1,
		"no-useless-concat": 1,
		"no-void": 1,
		"no-with": 1,
		"radix": 1,
		"yoda": 1,

		/* http://eslint.org/docs/rules/#variables */
		"init-declarations": 0,
		"no-catch-shadow": 2,
		"no-delete-var": 2,
		"no-label-var": 2,
		"no-shadow-restricted-names": 2,
		"no-undef-init": 2,
		"no-undef": 2,
		"no-undefined": 2,
		"no-unused-vars": 2,
		"no-use-before-define": 2,

		/* http://eslint.org/docs/rules/#stylistic-issues */
		"camelcase": 1,
		"eol-last": 1,
		"no-array-constructor": 2,
		"no-bitwise": 1,
		"no-continue": 1,
		"no-lonely-if": 1,
		"no-multiple-empty-lines": [2, {"max": 2}],
		"no-negated-condition": 0,
		"no-nested-ternary": 1,
		"no-new-object": 1,
		"no-plusplus": 0,
		"no-spaced-func": 1,
		"no-unneeded-ternary": 1,
		"semi": [2, "always"],
		"sort-vars": 1,
		"keyword-spacing": 1,
		"space-before-blocks": 1,

		/* import plugin https://www.npmjs.com/package/eslint-plugin-import */
		"import/no-unresolved": 2,
		"import/named": 2,
		"import/namespace": 2,
		"import/default": 1,
		"import/export": 2
	}
}
